.nav_arrow {
    position: absolute;
    bottom: 2vh;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;
    border-top: 2vw solid white;
    left: 50%;
    transform: translate(-50%, 0);
}