$naw_arrow_width: 10vw;

.nav_arrow {
    position: absolute;
    display: block;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%, 0);
    fill: none;
    stroke-width: 3px;
    stroke: white;

    // .nav_arrow-path {
    //     width: $naw_arrow_width;
    // }
}
