$naw_arrow_width: 10vw;

.nav_arrow {
    width: 10vw;
    height: 4vh;
    position: absolute;
    display: block;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    fill: none;
    stroke-width: 3px;
    padding: 2vh;

    path {
        stroke: white;
    }
}
