@import url(https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap);
/* change to a more readable font */

$neon-text-color: #ff00ff;
$neon-border-color: #ff00ff;

.landing_name {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-12.5%, -50%);

    h1 {
        font-family: 'MuseoModerno', cursive;
        font-size: 9vw;
        font-weight: 200;
        color: #fff;
        padding: 1vw 3vw;
        border: 0.65vw solid #fff;
        border-radius: 2vw;
        text-transform: uppercase;
        animation: flicker 2.5s infinite alternate;     
    }
}

@keyframes flicker {
	0%,19%,21%,23%,25%,54%,56%,100% {
		text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem $neon-text-color, 0 0 4rem $neon-text-color, 0 0 6rem $neon-text-color, 0 0 8rem $neon-text-color, 0 0 10rem $neon-text-color;
		box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem $neon-border-color, inset 0 0 2rem $neon-border-color, 0 0 4rem $neon-border-color, inset 0 0 4rem $neon-border-color;
	}
	20%,24%,55% {
		text-shadow: none;
		box-shadow: none;
	}
}

